*

!/backend
!/backend/**
!/web
!/web/**
!/deploy/caddy
!/deploy/caddy/**
!/deploy/nginx
!/deploy/nginx/**

**/.pytest_cache
**/.venv
**/__pycache__
**/tests
**/coverage
**/dist
**/node_modules

**/test_*.py
**/*.test.tsx?
